@charset "UTF-8";

*{
	font-family: Arial, Verdana, Sans-Serif;
	padding: 0px;
	margin: 0px;
}
body{
	height: 100vh;
	width: 100vw;
  background-color: #233eff;
	background-size: contain;
	background-repeat: no-repeat;
}
h1{
	text-align: center;
	color: white;
	text-shadow: 2px 2px 2px darkblue;
	padding: 10px;
}